---
# Origin:
# https://github.com/geerlingguy/ansible-role-docker/blob/master/.github/workflows/release.yml
#
# This workflow requires a GALAXY_API_KEY secret present in the GitHub
# repository or organization.
#
# See: https://github.com/marketplace/actions/publish-ansible-role-to-galaxy
# See: https://github.com/ansible/galaxy/issues/46

name: Release
'on':
  workflow_dispatch:
  push:
    tags:
      - '*'

defaults:
  run:
    working-directory: 'jpmat296.upgrade_powershell'

jobs:

  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2
        with:
          path: 'jpmat296.upgrade_powershell'

      - name: Set up Python 3.
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install Ansible.
        run: pip3 install ansible-base

      - name: Trigger a new import on Galaxy.
        run: ansible-galaxy role import -vvv --api-key ${{ secrets.GALAXY_API_KEY }} jpmat296 ansible-upgrade-powershell
